html, body, p, figure {
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

@font-face {
    font-family: 'wibblesregular';
    src: url('../font/wibbles_-webfont.woff2') format('woff2'),
         url('../font/wibbles_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
  background-color: #95ba39;
  background-image: url('../img/header.png');
  display: flex;
  flex-direction: row;
  align-items: center;
}

#site-title {
  font-family: 'wibblesregular';
  font-size: 39px;
  color: #654321;
  -webkit-text-stroke: 1.4px yellow;
}

#site-title a:visited {
  color: inherit;
}

#header .fa-angle-down {
  color: yellow;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

#sub-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 3vh;
  padding-top: 4vh;
}

#menu-out {
  font-size: 40px;
  cursor: pointer;
}

#menu-name {
  margin-bottom: 5px;
}

#menu-link {
  margin-top: -9px;
  color: yellow;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 2px 2px black;
  cursor: pointer;
}

#menu.menu-shown {
  left: 0;
}

.worm-link {
  font-family: wibblesregular;
  color: rgba(0,0,0,0.6);
  text-decoration: none;
  font-size: 8vw;
}

#menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, yellow, green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: left 0.5s cubic-bezier(.46,.03,.52,.96);
  font-size: 10vw;
}

#menu div {
  padding: 10px 0;
}

#menu a:visited {
  color: inherit;
}

#menu a.active {
  text-decoration: underline;
}

#content {
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: justify;
  font-family: Palatino;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text {
  max-width: 560px;
}

#text p {
  margin: 18px 0;
}

#text #date {
  font-style: italic;
  font-size: 11px;
  text-align: center;
}

#text img {
  width: 100%;
}

figcaption {
  text-align: center;
}

@media only screen
and (max-device-width : 414px) {
  #header {
    justify-content: space-between;
    padding: 0 5vw;
  }
}

@media only screen
and (min-device-width : 415px) {
  #header {
    justify-content: center;
    padding: 0 5vw;
  }
  #site-title {
    padding: 0 2.5vw;
  }
  #header .fa-bars {
    padding: 0 2.5vw;
  }
  #text .worm-link {
    font-size: 4vw;
  }
}

@media only screen
and (min-device-width : 1025px) {
  #header {
    justify-content: center;
    padding: 0 5vw;
  }
  #site-title {
    padding: 0 2.5vw;
  }
  #header .fa-bars {
    padding: 0 2.5vw;
  }
  #text .worm-link {
    font-size: 4vw;
  }
}
