{% extends "base.html" %}

{% block page_title %}About{% endblock %}
{% block subtitle %}About Us{% endblock %}
{% block content %}
<p>
I'm Caz, and together with my partner Max we've just adopted some worms.
This is mostly my blog about agriculture, food, worms, the environment, and potentially AI (coming soon :P) and how they can come together in a city.
I have a masters in Environmental Science and a bachelors in Computer Science so am fairly well placed to shmush the two together!
I'm also vegan and have been for almost ten years.
I passionately believe that the future of food is in cities, will be fairly high-tech (whilst using what nature has honed over millions of years), and will be animal-product-free.
</p>

<p>
As a vegan how do I feel about having worms?
They're not being exploited -- they're in their box of soil happily being fed.
However if any research were to come up indicating the opposite, well, I'd set them free immediately.
I believe we can feed the world without exploiting it.
</p>

<p>
Photos to come soon!
</p>
{% endblock %}
