{% extends "base.html" %}

{% block page_title %}Home{% endblock %}
{% block subtitle %}Growing food with worms{% endblock %}
{% block content %}
<p>
  This is my website dedicated to growing food in a city.
  After extensive research on the best way to go about this, I decided to buy some worms and to start feeding our food scraps to them.
  The idea is to then harvest the "tea" that these worms produce and to attempt to grow food plants indoors.
  Everything about the practicalities of this are incredibly new to me.
  I've read the theory... now it's time to put it to the test!
</p>

<p>
  I'm not entirely sure what this website will be yet.
  For now it's a space for me to talk about what I'm doing, what I plan to do, etc.
  Eventually I would like this to become a community of worm and food lovers?
  Who knows!
</p>

<p>
  I'll be posting blogs and links and various bits of research I come across.
  For more about me, visit the <a href="/about">About Page</a>.
  There you can find out how I got into this, and why.
</p>

<figure>
  <img src="/img/2018-01-05-jessica.jpeg" />
  <figcaption>Jessica the Worm</figcaption>
</figure>

<p>
  This is Jessica the worm attempting to escape back into her hidey-hole.
  We took her out for a minute to get a good picture as she's quite big.
  Unfortunately we don't have a measure, but trust she's a big 'un!
</p>
{% endblock %}
